.box-white.small
  .lead Sciiga listo
  .item-row-header
    .col Retpoŝt-adreso
    .col Lando
    .col Kreada dato

  - @recipients.each do |recipient|
    .item-row-no-chevron
      .col
        = link_to icon('fas', 'minus-circle'), delete_recipient_path(recipient.code), class: 'fg-color-red'
        = recipient.email
      .col= recipient.country.name
      .col= format_date recipient.created_at

