# Docker-compose file for DEVELOPMENT containers
services:
  redis:
    image: redis:6.2.6
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 3
    ports:
      - 6379:6379

  db:
    image: postgres:13.5
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=eventaservo_devel
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  mailcatcher:
    image: schickling/mailcatcher:latest
    ports:
      - 1025:1025
      - 1080:1080

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - 8080:8080
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@eventaservo.org
      - PGADMIN_DEFAULT_PASSWORD=administranto
      - PGADMIN_LISTEN_PORT=8080

volumes:
  postgres:
