x-app: &backend-app
  environment:
    - RAILS_ENV=${RAILS_ENV:-development}
    - RAILS_SERVE_STATIC_FILES=${RAILS_SERVE_STATIC_FILES:-false}
    - DB_HOST=db
    - DB_USERNAME=postgres
    - DB_PASSWORD=postgres
    - PORT=3000

services:
  backend:
    <<: *backend-app
    image: eventaservo-dev
    build:
      context: ./
      dockerfile: ./Dockerfile
      target: development
      args:
        RAILS_MASTER_KEY: "${RAILS_MASTER_KEY}"
    tty: true
    ports:
      - 3000:3000
    volumes:
      - ./:/eventaservo:cached
      - ~/.ssh:/home/rails/.ssh:ro
      - ~/.config:/home/rails/.config
      # Claude related files
      - ~/.claude:/home/rails/.claude
      - ~/.claude.json:/home/rails/.claude.json
      # Gemini
      - ~/.gemini:/home/rails/.gemini
      # Bundle gems
      - bundle_gems:/usr/local/bundle

    # Overrides default command so things don"t shut down after the process ends.
    command: sleep infinity
    depends_on:
      - db

  solid_queue:
    <<: *backend-app
    image: eventaservo-dev
    command: bundle exec rails solid_queue:start
    volumes:
      - ./:/eventaservo:cached
    depends_on:
      - db

  db:
    image: postgres:15.7
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=eventaservo_devel
    volumes:
      - postgres:/var/lib/postgresql/data

  selenium:
    image: selenium/standalone-chromium
    container_name: eventaservo-selenium
    environment:
      - SE_VNC_NO_PASSWORD=1
    ports:
      - 7900:7900
    shm_size: "2gb"
    restart: unless-stopped

volumes:
  postgres:
  bundle_gems:
