FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_MAPS_KEY=
IPINFO_KEY=
LANG=en_US.UTF-8
LANGUAGE=en_US:en
PORT=3010
POSTGRES_DB=eventaservo
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
RAILS_ENV=development
RAILS_MASTER_KEY=
