openapi: 3.1.0
info:
  title: EventaServo API
  version: '2.0'
  contact:
    name: Fernando Shayani
    url: 'https://github.com/eventaservo'
    email: fernando@eventaservo.org
  termsOfService: 'https://eventaservo.org/LICENSE'
  license:
    name: AGPL-3.0
    url: 'https://github.com/eventaservo/eventaservo/blob/main/LICENSE'
  summary: EventaServo API v2
  description: |
    EventaServo is a platform for organizing and publicizing Esperanto events worldwide.
    This API v2 provides programmatic access to events and organizations.
servers:
  - url: 'https://eventaservo.org/api/v2'
    description: Production
  - url: 'https://testservilo.eventaservo.org/api/v2'
    description: Staging
paths:
  /eventoj:
    get:
      summary: List events
      description: >
        List events by date range, country, or organization.
        You must provide either `komenca_dato` + `fina_dato` **or** `uuid`.
      tags:
        - Events
      operationId: list-events
      parameters:
        - name: komenca_dato
          in: query
          required: false
          description: Start date of the filter period (YYYY-MM-DD). Required when `uuid` is not provided.
          schema:
            type: string
            format: date
            example: '2026-01-01'
        - name: fina_dato
          in: query
          required: false
          description: End date of the filter period (YYYY-MM-DD). Required when `uuid` is not provided.
          schema:
            type: string
            format: date
            example: '2026-12-31'
        - name: uuid
          in: query
          required: false
          description: UUID of a specific event. When provided, `komenca_dato` and `fina_dato` are not needed.
          schema:
            type: string
            format: uuid
            example: e567bdc3-0ea2-46cc-8a83-3b11facbe16c
        - name: landa_kodo
          in: query
          required: false
          description: Filter by 2-letter country code. Case-insensitive (e.g. `BR`, `br`, `Fr`).
          schema:
            type: string
            example: BR
        - name: o
          in: query
          required: false
          description: Filter by organization short name (e.g. `UEA`).
          schema:
            type: string
            example: UEA
      responses:
        '200':
          description: A list of events matching the filter criteria.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
              examples:
                Example 1:
                  value:
                    - uuid: 206da237-65ee-4b86-96f6-5bd4cc3bd210
                      kodo: ab6712d
                      titolo: 1-a Universala Kongreso
                      priskribo: La unua Universala Kongreso de Esperanto!
                      enhavo: Detalaj informoj pri la evento
                      komenca_dato: '1905-08-05'
                      fina_dato: '1905-08-12'
                      retpagho: 'https://uea.org'
                      retposhtadreso: kontakto@uea.org
                      organizoj:
                        - UEA
                      specoj:
                        - Kongreso
                      nuligita: true
                      nuligkialo: null
                      reta: true
                      loko:
                        adreso: Stratnomo
                        urbo: Bulonjo ĉe maro
                        lando: Francio
                        landokodo: FR
                        kontinento: Eŭropo
                        latitudo: 50.725231
                        longitudo: 1.613334
                      administranto: Universala Esperanto-Asocio
        '400':
          description: Missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  eraro:
                    type: string
                    description: Error message in Esperanto.
                    example: Mankas komenca_dato kaj fina_dato aŭ eventa UUID
  /organizations:
    get:
      summary: List organizations
      description: List all organizations, optionally filtered by country code.
      tags:
        - Organizations
      operationId: list-organizations
      parameters:
        - name: country_code
          in: query
          required: false
          description: Filter by 2-letter country code (e.g. `BR`, `NL`).
          schema:
            type: string
            example: BR
      responses:
        '200':
          description: A list of organizations with total count.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of organizations matching the filter.
                    example: 5
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
components:
  securitySchemes:
    JWTToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from your account settings at
        https://eventaservo.org/uzanto/redaktu.
        Send as `Authorization: Bearer ***` OR as query parameter `user_token`.
  schemas:
    Event:
      type: object
      description: An Esperanto event with details.
      properties:
        uuid:
          type: string
          format: uuid
          description: Unique event identifier.
          example: 206da237-65ee-4b86-96f6-5bd4cc3bd210
        kodo:
          type: string
          description: Short event code.
          example: ab6712d
        titolo:
          type: string
          description: Event title.
          example: 1-a Universala Kongreso
        priskribo:
          type: string
          description: Short event description.
          example: La unua Universala Kongreso de Esperanto!
        enhavo:
          type: string
          nullable: true
          description: Full event description.
          example: Detalaj informoj pri la evento
        komenca_dato:
          type: string
          format: date
          description: Event start date.
          example: '1905-08-05'
        fina_dato:
          type: string
          format: date
          description: Event end date.
          example: '1905-08-12'
        retpagho:
          type: string
          nullable: true
          format: uri
          description: Event website URL.
          example: 'https://uea.org'
        retposhtadreso:
          type: string
          nullable: true
          format: email
          description: Contact email for the event.
          example: kontakto@uea.org
        organizoj:
          type: array
          description: List of organizing Esperanto organizations. Only present when the event has organizations.
          items:
            type: string
            example: UEA
        specoj:
          type: array
          description: Event type classifications.
          items:
            type: string
            example: Kongreso
        nuligita:
          type: boolean
          description: Whether the event has been cancelled.
          example: true
        nuligkialo:
          type: string
          nullable: true
          description: Reason for cancellation, if any.
          example: null
        reta:
          type: boolean
          description: Whether the event is online-only.
          example: true
        loko:
          type: object
          description: Event location. Null for online-only events.
          nullable: true
          properties:
            adreso:
              type: string
              nullable: true
              description: Street address.
              example: Stratnomo
            urbo:
              type: string
              description: City name.
              example: Bulonjo ĉe maro
            lando:
              type: string
              description: Country name.
              example: Francio
            landokodo:
              type: string
              description: 2-letter country code.
              example: FR
            kontinento:
              type: string
              description: Continent name.
              example: Eŭropo
            latitudo:
              type: number
              description: Latitude coordinate.
              example: 50.725231
            longitudo:
              type: number
              description: Longitude coordinate.
              example: 1.613334
          required:
            - urbo
            - lando
            - landokodo
            - kontinento
            - latitudo
            - longitudo
        administranto:
          type: string
          description: Name of the event organizer/admin user.
          example: Universala Esperanto-Asocio
      required:
        - uuid
        - kodo
        - titolo
        - priskribo
        - komenca_dato
        - fina_dato
        - retpagho
        - specoj
        - nuligita
        - reta
        - loko
        - administranto
    Organization:
      type: object
      description: An Esperanto organization with contact details.
      properties:
        name:
          type: string
          description: Full organization name.
          example: Universala Esperanto Asocio
        short_name:
          type: string
          description: Organization abbreviation or short name.
          example: UEA
        address:
          type: string
          nullable: true
          description: Physical address.
          example: 'Nieuwe Binnenweg 176, 3015 BJ Rotterdam'
        city:
          type: string
          nullable: true
          description: City where the organization is based.
          example: Rotterdam
        country:
          type: string
          nullable: true
          description: Country name.
          example: Nederlando
        country_code:
          type: string
          nullable: true
          description: 2-letter country code.
          example: NL
        contact:
          type: object
          description: Organization contact information.
          properties:
            email:
              type: string
              format: email
              nullable: true
              description: Contact email.
              example: info@uea.org
            phone:
              type: string
              nullable: true
              description: Contact phone number.
              example: '+31 10 436 1044'
            url:
              type: string
              format: uri
              nullable: true
              description: Organization website.
              example: 'https://uea.org'
            youtube:
              type: string
              format: uri
              nullable: true
              description: YouTube channel URL.
              example: 'https://www.youtube.com/user/UEAviva'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp.
          example: '2024-08-31T16:54:32.114Z'
tags:
  - name: Events
    description: Event-related endpoints
  - name: Organizations
    description: Organization-related endpoints
security:
  - JWTToken: []
