<div class="container py-4">
  <div class="box-white">
    <h4 class="mb-3">Set up recurrence for: <%= @event.title %></h4>
    <p class="text-body-secondary">
      Configure how this event should repeat. Child events will be generated automatically.
    </p>
    <hr>
    <%= render "form", recurrence: @recurrence, event: @event %>
  </div>
</div>
