<div class="box-white" id="evento">
  <div class="lead">
    <%= icon('fas', 'video', t("video.presentations")) %>
  </div>
  <div class="d-flex justify-content-between flex-wrap">
      <%= render partial: @videoj, locals: { user: @current_user, show_event_details: true } %>
  </div>
  <% if @pagy.last > 1 %>
    <div class="d-flex justify-content-center">
      <%= @pagy.series_nav(:bootstrap) %>
    </div>
  <% end %>
</div>
