Vi ricevos retpoŝtan mesaĝon kiam oni aldonos novan eventon en #{@country.name}.
\
\
Se vi ne plu volas ricevi informojn pri novaj eventoj en #{@country.name}, malabonitu per tiu ligilo:
= delete_recipient_url @recipient.code
