Vi ricevos retpoŝtan mesaĝon kiam oni aldonos novan eventon en #{@country.name}.

Ne plu volas ricevi informojn pri novaj eventoj en #{@country.name}? Malabonitu per tiu ligilo:
= delete_recipient_url @recipient.code
