<% if @uzanto.instruisto == 'true' %>
  <div class="lead">Mi estas instruanto</div>
  <div>Mi instruas al nivelo(j):</div>
  <% @uzanto.instruo['nivelo'].each do |nivelo| %>
    <div class="badge text-bg-info"><%= nivelo.capitalize %></div>
  <% end %>
  <br>
  <%= @uzanto.instruo['sperto'] %>
<% end %>
