#events_by_months

- quantity = []
- (1..12).each do |month|
  - quantity << Event.where('extract(month from date_start) = :month OR extract(month from date_end) = :month', month: month).count

:coffee
  Highcharts.chart 'events_by_months',
  colors: ['#28a745']
  chart: type: 'areaspline'
  title: text: 'Okazantaj eventoj laŭ monatoj'
  legend: enabled: false
  xAxis:
    categories: [
      'Jan',
      'Feb',
      'Mar',
      'Apr',
      'Maj',
      'Jun',
      'Jul',
      'Aŭg',
      'Sep',
      'Okt',
      'Nov',
      'Dec'
    ]
    crosshair: true
  yAxis:
    min: 0
    title: text: 'Eventoj'
  plotOptions: areaspline: dataLabels: enabled: true
  tooltip:
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>'
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y} eventoj</b></td></tr>'
    footerFormat: '</table>'
    shared: true
    useHTML: true
  series: [
    {
      name: 'Kvanto'
      data: #{raw quantity}
    }
  ]
