%br
%br
- if aktivaj_filtroj?
  .lead Aktivaj filtriloj

  - if aktivaj_filtroj.include? 'periodo'
    = link_to icon('fas', 'times', traduki_periodon(params[:periodo])), aktivaj_filtroj.except(:periodo), class: 'button-filters'

  - if aktivaj_filtroj.include? 'o'
    = link_to icon('fas', 'times', params[:o]), aktivaj_filtroj.except(:o), class: 'button-filters'


