<div class="tw:bg-white tw:rounded-lg tw:border tw:border-gray-200 tw:mt-1 tw:p-4">
  <div class="tw:text-lg tw:font-medium">
    <%= link_to display_user(instruisto), events_by_username_path(instruisto.username), class: "tw:text-blue-600 hover:tw:text-blue-800" %>
  </div>
  <div class="tw:text-sm tw:text-gray-500">
    <%= instruisto.country.name %>
  </div>
  <div class="tw:mt-2">
    <% instruisto.instruo['nivelo'].each do |nivelo| %>
      <span class="tw:inline-block tw:px-2 tw:py-1 tw:mr-1 tw:mb-1 tw:text-xs tw:font-semibold tw:text-blue-800 tw:bg-blue-100 tw:rounded-full"><%= nivelo %></span>
    <% end %>
    <p class="tw:mt-2">
      <%= instruisto.instruo['sperto'] %>
    </p>
  </div>
</div>
