.card.mt-1
  .card-body
    .card-title
      = link_to display_user(instruisto), events_by_username_path(instruisto.username)
    .card-subtitle.text-muted.small
      = instruisto.country.name
    .card-text
      - instruisto.instruo['nivelo'].each do |nivelo|
        %span.badge.badge-info= nivelo
      %p
        = instruisto.instruo['sperto']
