.d-flex
  %p.small
    - if cookies[:horzono]
      Vi vidas la eventojn laŭ la horzono #{I18n.t cookies[:horzono], scope: :timezones} |
      #{'(MET)' if Time.now.in_time_zone(cookies[:horzono]).utc_offset == 3600} |
      (UTC #{Time.now.in_time_zone(cookies[:horzono]).formatted_offset.split(":").first}) |

    - else
      Vi vidas la eventojn laŭ ilia loka horzono.
  = render partial: 'events/horzono_elektilo'
