.box-white
  %h1 Novaĵoj de la sistemo

  .shanghoj
    .versio 2022-11
    %ul
      %li.novo [Novo] Aldonas urbonomon al rezultoj de event-serĉilo
      %li.novo [Novo] Aldonas Twitter-konton al uzant-profilo
