.box-white
  %h1 Ŝanĝoprotokolo

  %p
    Ĉiuj gravaj ŝanĝoj estas dokumentita en ĉi tiu teksto. La teksto-formato
    estas inspirita de
    #{link_to 'Keep a Changelodg', "https://keepachangelog.com/en/1.0.0/", target: :_blank}
    kaj ĉi tiu projeto kongruas kun
    #{link_to 'Semantic Versioning', "https://semver.org/spec/v2.0.0.html", target: :_blank }

  .shanghoj
    .versio v2.18.7 (2020-11-15)
    %ul
      %li.novo [Novo] Aldonas ligilon por listigi retajn eventojn per Webcal (dankon al @anthonybodineau pro la ideo)
      %li.riparo [Riparo] Riparas kronologion pri eventa enhavo
      %li [Ŝanĝo] Malpligrandigas paĝopiedon
      %li [Ŝanĝo] Kalendara evento kiuj estas multtagaj nun aperas kiel "multtaga" anstataŭ "tuttaga"
      %li [Ŝanĝo] Ne plu aperigas "Reta, OL" en Webcal eventoj kiam ili estas retaj
