.box-white
  %h1 Ŝanĝoprotokolo

  %p
    Ĉiuj gravaj ŝanĝoj estas dokumentitaj en ĉi tiu teksto. La teksto-formato
    estas inspirita de
    #{link_to 'Keep a Changelog', "https://keepachangelog.com/en/1.0.0/", target: :_blank}
    kaj ĉi tiu projekto kongruas kun
    #{link_to 'Semantic Versioning', "https://semver.org/spec/v2.0.0.html", target: :_blank }

  .shanghoj
    .versio v2.21.0 (2021-03)
    %ul
      %li [Aldono] Eblas aldoni
      %li.novo [Novo] Nova serĉilo

.shanghoj
    .versio v2.20.3 (2021-02)
    %ul
      %li [Ŝanĝo] Limigas la grandecon de mallonga ligilo al 32 signoj
      %li.riparo [Riparo] Riparas cimon pri horzono de retaj kaj fizikaj eventoj
      %li [Aldono] Eblas serĉi ankaŭ nuligitajn eventojn
      %li.novo [Novo] Nova serĉilo

    .versio v2.19.5 (2020-12)
    %ul
      %li [Aldono] Novaj ligiloj por prelegoj pri Eventa Servo en #{link_to 'Prie', '/prie'}
      %li [Ŝanĝo] Ŝanĝas la kolorojn de partoprenanta butono
      %li [Ŝanĝo] Ŝanĝas la aspekton de kelkajn statistikojn
      %li.novo [Novo] Plena lista de partoprenontoj de evento
      %li.novo [Novo] Aldonas tekston por informi la uzanton ke li ricevos retpoŝtmesaĝon se li intencas partopreni eventon

    .versio v2.18.7 (2020-11)
    %ul
      %li.novo [Novo] Aldonas ligilon por listigi retajn eventojn per Webcal (dankon al @anthonybodineau pro la ideo)
      %li.riparo [Riparo] Riparas kronologion pri eventa enhavo
      %li [Ŝanĝo] Malpligrandigas paĝopiedon
      %li [Ŝanĝo] Kalendara evento kiuj estas multtagaj nun aperas kiel "multtaga" anstataŭ "tuttaga"
      %li [Ŝanĝo] Ne plu aperigas "Reta, OL" en Webcal eventoj kiam ili estas retaj
