.box-white
  %h1 Ŝanĝoprotokolo

  Ĉiuj gravaj ŝanĝoj estas dokumentita en ĉi tiu teksto.

  La teksto-formato estas inspirita de #{link_to 'Keep a Changelog', 'https://keepachangelog.com/en/1.0.0/'},
  kaj ĉi tiu projeto kongruas kun #{link_to 'Semantic Versioning', 'https://semver.org/spec/v2.0.0.html'}.

  %hr

  .small
    %h6 v2.18.7 (2020-11-15)
    %li [Novo] Aldonas ligilon por listigi retajn eventojn per Webcal.
    %li [Riparo] Riparas kronologion pri eventa enhavo
    %li [Ŝanĝo] Malpligrandigas paĝopiedon