Affero General Public License (Ĝenerala Publika Permesilo de Affero) estas rajtoceda permesilo por liberaj programoj kiujn oni uzas tra reto. Ĝi estas ŝanĝita versio de la GNU GPL, versio 2.

Ĝi estis verkita de Affero por plenigi mankon en GNU GPL v2 de rajtocedaj postuloj koncerne personojn kiuj kvankam ne disdonas la programon, sed disponigas ĝian interfacon perrete.

Versiojn 1 kaj 2 publikigis Affero, Inc. kunlabore kun Free Software Foundation.

La dua versio de Affero GPL, ankaŭ publikigita de Affero, estas transirilo al GNU Affero General Public License 3 (GNU AGPL 3), kiu estas bazita sur GNU GPL 3 kaj publikigita de FSF.
