#statistikoj
  .row
    .col-12
      .box-white
        %registritaj-eventoj
  .row
    .col-lg-6.col-12
      .box-white
        %kvanto-registritaj-uzantoj
    .col-lg-6.col-12
      .box-white
        %kvanto-registritaj-eventoj
  .row
    .col-lg-6.col-12
      .box-white
        %eventoj-lau-monatoj
    .col-lg-6.col-12
      .box-white
        %eventoj-retaj-kaj-fizikaj
