#statistikoj
  .row
    .col-12
      .box-white
  .row
    .col-lg-6.col-12
      .box-white
    .col-lg-6.col-12
      .box-white
  .row
    .col-lg-6.col-12
      .box-white
    .col-lg-6.col-12
      .box-white
