<div id="statistikoj">
  <div class="row">
    <div class="col-12">
      <div class="box-white">
        <registritaj-eventoj></registritaj-eventoj>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="box-white">
        <kvanto-registritaj-uzantoj></kvanto-registritaj-uzantoj>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <div class="box-white">
        <kvanto-registritaj-eventoj></kvanto-registritaj-eventoj>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="box-white">
        <eventoj-lau-monatoj></eventoj-lau-monatoj>
      </div>
    </div>
  </div>
</div>
