- if user_signed_in? && current_user.is_owner_of(@event)
  .box-white
    .lead AlÅutilo
    = form_tag(attachment_upload_path(@event), multipart: true, id: 'uploader_form') do
      = hidden_field_tag(:record_type, @event.class)

      .input-group.mb-3
        .custom-file
          %input.custom-file-input{"aria-describedby": :file, type: "file", id: :file, name: :file, onchange: "validate_and_submit();"}/
          %label.custom-file-label{for: :file} Elektu dosieron

:coffee
  @validate_and_submit = ->
    ext = $('#file').val().split('.').pop().toLowerCase()
    if $.inArray(ext, #{raw Constants::FILE_EXTENSIONS} ) == -1
      alert 'Dokumenta speco ne permesata'
    else
      $('#uploader_form').submit()
    return
