- if user_is_owner_or_admin(@event)
  %p
  .text-divider Alŝutilo
  %p Aldonu fotojn aŭ dokumentojn al la evento.

  = form_with(model: @event, url: event_path(@event.code), local: true, id: 'uploader_form', method: :patch) do |f|
    = f.file_field :uploads, multiple: true, direct_upload: true,
      accept: 'application/pdf,image/*,
      application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
    %br
    %br
    = f.submit 'Alŝuti', class: 'btn btn-outline-primary btn-sm col-12', id: 'submit_button'
