- if @event.attachments.present? && @event.attachments.documents.present?
  .lead Dokumentoj
  - @event.attachments.documents.each do |document|
    .item-row-no-chevron
      - if user_is_owner_or_admin(@event)
        = link_to icon('far', 'trash-alt'), attachment_destroy_path(document), method: :delete, data: { confirm: 'Ĉu vi certas?' }, class: 'btn btn-sm btn-outline-link'
      = link_to document.file_name, document.file.url, class: 'btn btn-sm btn-outline-link'
