<div
  id="event_map_container"
  class="event-map"
  data-controller="event-map"
  data-event-map-latitude-value="<%= event.latitude %>"
  data-event-map-longitude-value="<%= event.longitude %>"
  >
</div>
