%hr
%p.small
  - if cookies[:horzono]
    Vi vidas la eventojn laŭ la horzono #{I18n.t cookies[:horzono], scope: :timezones}.
  - else
    Vi vidas la eventojn laŭ ilia loka horzono. Eblas agordi horzonon ĉe evento.

#full_calendar{data: { continent: params[:continent], country: params[:country_name], city: params[:city_name], o: params[:o], s: params[:s], username: params[:username] } }
