%hr
.d-flex
  %p.small
    - if cookies[:horzono]
      Vi vidas la eventojn laŭ la horzono #{I18n.t cookies[:horzono], scope: :timezones}.
    - else
      Vi vidas la eventojn laŭ ilia loka horzono.
  = render partial: 'events/horzono_elektilo'

#full_calendar{data: { continent: params[:continent], country: params[:country_name], city: params[:city_name], o: params[:o], s: params[:s], t: params[:t], username: params[:username] } }
