- events.map do |date, events|
  %br
  %br
  %h3.text-divider= l(date, format: "%B %Y")
  .row
    - events.each do |event|
      .col-12.col-sm-4
        = render partial: 'events/card', locals: { event: event }
