- if Time.zone.now > event.date_start
  .box-white
    .box-header.bg-color-purple 📸 Raportoj
    .box-body
      .text-right
        = link_to icon("fas", "plus-circle", "Aldoni ligilon"), new_event_report_path(event.code), class: 'link-green'

      - if event.reports.any?
        - event.reports.each do |report|
          %div
            = link_to report.label, report.url, target: '_blank', rel: 'noopener noreferrer'
            %i.fg-color-grayDark - #{report.user.name}

            - if @current_user == report.user || user_can_edit_event?(user: @current_user, event: event)
              = link_to icon('far', 'trash-alt'),
                event_report_url(event.code, report), method: :delete,
                data: { confirm: 'Ĉu vi certas?' },
                class: 'link-simples fg-color-red float-right'
      - else
        %p.mt-3.text-center 🥳 Aldonu ligilojn al raportoj 🎉
