%br
- if @event.site.present?
  <strong>RetpaÄo:</strong> #{link_to @event.site[0..40], @event.site, target: :_blank, class: 'button-contact'}

- if @event.email.present?
  %p
    <strong>RetpoÅtadreso:</strong> #{display_event_email(@event)}