%h5.text-center.font-weight-bold= pluralize(@kvanto_venontaj_eventoj, 'venonta', 'venontaj') if events.count > 0

- events.grouped_by_months.map do |date, events|
  %br
  %h3.text-divider= l(date, format: "%B %Y")
  .row
    - events.each do |event|
      .col-12.col-md-4
        = render partial: 'events/card', locals: { event: event }

- if @pagy.pages > 1
  .d-flex.justify-content-center= raw pagy_bootstrap_nav(@pagy)
