= render partial: 'events/timezone_modal'
= link_to "#{cookies[:horzono] ? 'Ŝanĝi' : 'Elekti'} horzonon", '#', id: 'select-timezone-link',
  class: 'badge', data: { target: '#timezoneModal', toggle: 'modal'}
