.d-flex.kalendareto-grupo.justify-content-end
  %div= calendar_icon(event.komenca_tago(tempozono: tz))
  - if event.multtaga?(tempozono: tz)
    .p-2= icon('fas', 'arrow-right')
    %div= calendar_icon(event.fina_tago(tempozono: tz))
