<div class="d-flex kalendareto-grupo justify-content-end">
  <%= calendar_icon(event.komenca_tago(horzono: tz)) %>
  <% if event.multtaga?(horzono: tz) %>
    <div class="p-2"><%= icon('fas', 'arrow-right') %></div>
    <%= calendar_icon(event.fina_tago(horzono: tz)) %>
  <% end %>
</div>
