#nuligiloModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'nuligiloModalCenterTitle', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content.text-left

      .modal-header
        %h5#nuligiloModalCenterTitle.modal-title Nuligi la eventon
        %button.close{'aria-label' => 'Fermi', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×

      = form_tag event_nuligi_url(event_code: @event.code) do
        .modal-body{style: 'font-weight: normal; font-size: 1rem;'}
          %p Nuligi la eventon ne forigas ĝin de la listo, sed aperigas ĝin kiel nuligitan. Tiel homoj informiĝos, ke la evento ne okazos.
          .form-group
            = text_field_tag :cancel_reason, '', class: 'form-control', required: true, placeholder: 'Entajpu la kialon'

        .modal-footer
          = submit_tag 'Konfirmi la nuligon', class: 'button-submit'
