<% if current_user %>
  <%= link_to event_toggle_participant_url(@event.short_url) do %>
    <% if @event.participants.pluck(:user_id).include?(current_user.id) %>
      <h1><%= icon('fas', 'user-check', class: 'fg-color-green') %></h1>
      <span class="fg-color-green">Mi interesiĝas</span>
    <% else %>
      <h1><%= icon('fas', 'user-check', class: 'fg-color-gray') %></h1>
      <span class="fg-color-gray">Mi interesiĝas</span>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'Ensalutu', '/users/sign_in', class: 'font-weight-bold' %>
  por informi vian partoprenon!
<% end %>
