= link_to 'kaj pli...', '#', data: { target: '#partoprenontojModal', toggle: 'modal' }

#partoprenontojModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'titolo', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content.text-left

      .modal-header
        %h5#titolo.modal-title #{@event.participants.count} interesiĝantoj
        %button.close{'aria-label': 'Fermi', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×

      .modal-body{style: 'font-weight: normal; font-size: 1rem;'}
        - @partoprenontoj.publikaj.each do |participant|
          - next unless participant.user

          %br
          = link_to display_user(participant.user), events_by_username_path(participant.user&.username)
          %br

        - if @partoprenontoj.ne_publikaj.count > 0
          %p
            %br
            kaj #{pluralize(@partoprenontoj.ne_publikaj.count, 'aliaj kiuj', plural: "aliajn kiujn")}
            preferis ne aperigi sian nomon
