- @event.participants.publikaj.sample(3).each do |participant|
  %br/
  = link_to display_user(participant.user), events_by_username_path(participant.user.username)
  %br/
  %br/
  - if @event.participants.size > 3
    = "...kaj pli"
