<%# Renders a discreet link to the past-events view of the same listing. %>
<%# Locals: +past_url+ — the URL for the past view %>
<div class="text-center my-3">
  <%= link_to t("events.show_past"), past_url %>
</div>
