- if @event.videoj.any?
  .text-divider.mt-3.mb-3 Registritaj prezentoj
  .d-flex.justify-content-between.flex-wrap
    = render partial: @event.videoj, locals: { user: @current_user, show_event_details: false }
