<%- if @event.videoj.any? %>
  <div class="text-divider mt-3 mb-3">Registritaj prezentoj</div>
  <div class="row">
    <%- @event.videoj.each do |video| %>
      <div class="col-12 col-md-6">

      </div>
    <% end %>
  </div>
<% end %>
