.box-white
  = render partial: 'layouts/breadcrumb'
  = display_event_list_style_chooser
  - if session[:event_list_style] == 'kartoj'
    = render partial: 'events/event_cards', locals: { events: @events}
  - else
    = render partial: 'events/event_list', locals: { events: @events}
