.toolbar
  - if user_signed_in?
    = toolbar_item new_event_path, 'Krei novan eventon', 'plus', 'btn btn-success'
  - else
    Por krei novan eventon, #{link_to 'ensalutu', new_user_session_path, class: 'btn btn-sm btn-outline-primary'}.

%h1 Eventoj

.box-white
  .lead Miaj eventoj
  - @eventoj.each do |evento|
    = link_to event_path(evento.code), class: 'item-row' do
      .col-12= evento.title

-#
-#<table>
-#  <thead>
-#    <tr>
-#      <th>Title</th>
-#      <th>Description</th>
-#      <th>User</th>
-#      <th>Date start</th>
-#      <th>Date end</th>
-#      <th colspan="3"></th>
-#    </tr>
-#  </thead>
-#
-#  <tbody>
-#    <% @events.each do |event| %>
-#      <tr>
-#        <td><%= event.title %></td>
-#        <td><%= event.description %></td>
-#        <td><%= event.user_id %></td>
-#        <td><%= event.date_start %></td>
-#        <td><%= event.date_end %></td>
-#        <td><%= link_to 'Show', event %></td>
-#        <td><%= link_to 'Edit', edit_event_path(event) %></td>
-#        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-#      </tr>
-#    <% end %>
-#  </tbody>
-#</table>
-#
-#<br>
-#
-#<%= link_to 'New Event', new_event_path %>
