<nav aria-label="breadcrumb">
  <ol class="breadcrumb small mb-2">
    <li class="breadcrumb-item"><%= link_to "Admin", admin_root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Mockups", admin_mockups_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Calendar</li>
  </ol>
</nav>

<div class="box-white">
  <%= render "admin/mockups/calendar_week" %>
</div>
