.box-white
  .lead Statistikoj

  .row
    .col-12.col-md-6
      = line_chart @users_registered_by_month, title: "Uzantoj"

    .col-12.col-md-6
      = area_chart @event_created_by_month, stacked: true, title: "Eventoj kreitaj per monato"

  .row
    .col-12.col-md-6
      = line_chart @visitors, title: "Vizitantoj per monato"
