default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("DB_POOL") { 5 }.to_i %>
  timeout: <%= ENV.fetch("DB_TIMEOUT") { 5000 }.to_i %>
  checkout_timeout: <%= ENV.fetch("DB_CHECKOUT_TIMEOUT") { 10 }.to_i %>
  reconnect: true
  port: 5432
  host: <%= ENV["DB_HOST"] || "localhost" %>
  username: <%= ENV["DB_USERNAME"] || "postgres" %>
  password: <%= ENV["DB_PASSWORD"] || "postgres" %>

development:
  <<: *default
  database: <%= ENV["DB_NAME"] || "eventaservo_devel" %>

test:
  <<: *default
  database: eventaservo_test<%= ENV['TEST_ENV_NUMBER'] %>

staging:
  <<: *default
  database: <%= ENV["DB_NAME"] %>
  host: <%= ENV["DB_HOST"] %>
  username: <%= ENV["DB_USERNAME"] || "postgres" %>
  password: <%= ENV["DB_PASSWORD"] || "postgres" %>

production:
  <<: *default
  database: <%= ENV["DB_NAME"] %>
  host: <%= ENV["DB_HOST"] %>
  username: <%= ENV["DB_USERNAME"] || "eventaservo" %>
  password: <%= ENV["DB_PASSWORD"] || "eventaservo" %>
