.box-white.col-6.mx-auto
  %h1 Ocorreu um erro
  %p O sistema passou por um erro inesperado e uma notificação foi enviada aos administradores.
  = link_to 'Voltar à página principal', root_url, class: 'btn btn-sm btn-primary'
