.box-white.col-12.col-md-6.mx-auto
  %h1 Paĝo ne trovita
  %p
    La paĝo ne ekzistas.
    = mail_to 'kontakto@eventaservo.org', 'Kontaktu nin'
    se vi bezonas helpon.
  %p
    = link_to 'Iru al la ĉefpaĝo', root_url, class: 'button-submit col-12'
