.box-white.col-6.mx-auto
  %h1 Página não encontrada
  %p
    Caso acredite que seja um erro, entre em contato com os administradores do sistema através
    = link_to 'deste link.', new_suggestion_path

