.form-group{ 'data-controller': 'short-url' }
  = hidden_field_tag :event_id, {}, value: event.id, 'data-short-url-target': 'eventId'
  %label{ for: 'event_short_url' } Mallonga ligilo (nedeviga)
  .input-group
    .input-group-prepend
      .input-group-text https://eventaservo.org/e/
    = form.text_field :short_url, class: 'form-control', maxlength: 32, value: (event.short_url || event.code),
      'data-action': 'blur->short-url#check', 'data-short-url-target': 'url'

  = turbo_frame_tag "short_url_availability"
