<nav aria-label="breadcrumb">
  <ol class="breadcrumb small mb-2">
    <li class="breadcrumb-item"><%= link_to "Admin", admin_root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Raportoj", admin_reports_path %></li>
    <li class="breadcrumb-item"><%= link_to "Detaloj", admin_report_path(@report) %></li>
    <li class="breadcrumb-item active" aria-current="page">Redakti</li>
  </ol>
</nav>

<div class="box-white">
  <div class="lead mb-3">Redakti Raporton</div>
  <%= render "form", report: @report %>
</div>
