.box-white {
  @include media-breakpoint-up(sm) {
    border           : 1px solid lightgray;
  }
  margin: 5px 0 5px 0;
  background-color : white;
  padding          : 10px;
  border-radius    : 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .lead {
    font-weight   : bold;
    border-bottom : 1px solid lightgray;
    margin-bottom : 10px;
  }

  .chevron-right {
    @extend .fas;
    content : fa-content($fa-var-chevron-right);
    float   : right;
    color   : black;
  }

  .item-row {
    display       : flex !important;
    margin-left   : 0 !important;
    padding-right : 0 !important;
    padding-left  : 0 !important;

    div:last-child::after { @extend .chevron-right; }

    &:nth-of-type(odd) {
      background : $grayLightRow;
    }
  }

  .item-row-no-chevron {
    //@extend .row;
    display       : flex !important;
    margin-left   : 0 !important;
    padding-right : 0 !important;
    padding-left  : 0 !important;

    &:nth-of-type(odd) {
      background : $grayLightRow;
    }
  }

  .item-row-header {
    //@extend .small-text;
    @extend .row;
    background-color : $blueDark;
    color            : white;
    margin           : 0;
    padding          : 0;
    border-bottom    : 2px solid grey;
  }

  .single-item {
    &::after { @extend .chevron-right; }
  }

  .single-item, .item-row, .item-row-no-chevron {
    padding         : 5px 5px 5px 5px;
    margin-left     : -5px;
    margin-right    : 0;
    text-decoration : none;
    color           : black;
    display         : block;

    &:hover { background-color : $grayLight; }
  }

  .item-row-selected {
    @extend .fg-color-white;
    @extend .bg-color-green;
  }

  .box-header {
    background-color        : green;
    color                   : white;
    font-weight             : bold;
    margin                  : -11px -11px 5px -11px;
    padding                 : 8px 8px 8px 12px;
    font-size               : 10px;
    letter-spacing          : 0.5px;
    line-height             : 12px;
    text-transform          : uppercase;
    font-family             : "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
  }

  .box-body {
    font-size: 12px;
  }
  .footer {
    background-color : $grayLight;
    font-size        : x-small;
    padding          : 2px 5px 2px 5px;
    margin           : 0 -10px -10px -10px;
    border-top       : 1px solid #D1D1D1;
  }
}
