%button-standard {
  @extend .btn;
  @extend .btn-sm;
}

%button-link {
  @extend %button-standard;
  @extend .btn-link;
}

.facebook-button {
  @extend %button-standard;
  @extend .btn-light;
  background-color : #4260B4;
  color            : white;

  &:before {
    @extend .fab;
    content       : fa-content($fa-var-facebook);
    padding-right : 5px;
  }
}

.button-submit {
  @extend %button-standard;
  @extend .btn-primary;
}

.button-back {
  @extend %button-standard;
  @extend .btn-outline-secondary;

  &:before {
    @extend .fas;
    content       : fa-content($fa-var-arrow-left);
    padding-right : 5px;
  }
}

.button-outline-blue {
  @extend %button-standard;
  @extend .btn-outline-primary;
}

.button-event-count {
  @extend %button-standard;
  @extend .btn-outline-primary;
  @extend .mr-1;
  @extend .mb-1;
}

.button-filters {
  @extend %button-standard;
  @extend .btn-info;
  @extend .mr-1;
  @extend .mb-1;
}

.button-notify-me {
  @extend .button-event-count;
  @extend .btn-outline-success;
  &:before {
    @extend .fas;
    content       : fa-content($fa-var-info-circle);
    padding-right : 5px;
  }
}

.button-outline-red, .button-cancel {
  @extend %button-standard;
  @extend .btn-outline-danger;
}

.buttons-footer {
  vertical-align : middle;
  padding-top    : 5px;
  border-top     : 1px solid gray;
  margin-top     : 20px;
  text-align     : right;
}

.button-like {
  @extend %button-link;
  color: $gray;
  &:before {
    @extend .far;
    content       : fa-content($fa-var-heart);
    padding-right : 5px;
  }
}

.button-like-pressed {
  @extend %button-link;
  color: $blue;
  &:before {
    @extend .fas;
    content       : fa-content($fa-var-heart);
    padding-right : 5px;
  }
}

.button-participant {
  @extend %button-link;
  color : $gray;
  &:before {
    @extend .far;
    content       : '\f007';
    padding-right : 5px;
  }
}

.button-participant-pressed {
  @extend %button-standard;
  color: $greenDark;
  &:before {
    @extend .fas;
    content       : '\f4fc';
    padding-right : 5px;
  }
}

.button-contact {
  @extend %button-link;
}
