@use "sass:color";

.btn {
  border-radius: 3px;
  padding: 3px 6px;
}

.btn-link {
  text-decoration: none !important;

  &:hover, &:focus, &:active {
    text-decoration: none !important;
  }
}

%button-standard {
  @extend .btn;
  @extend .btn-sm;
}

%button-link {
  @extend %button-standard;
  @extend .btn-link;
}

.facebook-button {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-light;
  width: 100%;

  background-color: #4260B4;
  border: 1px solid #4260B4;
  color: white;

  &:before {
    @extend .fab;
    content: fa-content($fa-var-facebook);
    padding-right: 5px;
  }
}

.google-button {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-light;
  width: 100%;

  border: 1px solid #CCCCCC;

  &:before {
    @extend .fab;
    content: fa-content($fa-var-google);
    padding-right: 5px;
  }
}

.button-submit {
  @extend %button-standard;
  @extend .btn-primary;
}

.button-new {
  @extend %button-standard;
  @extend .btn-success;
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

.button-new-link {
  @extend %button-link;
  @extend .fg-color-green;

  &:hover {
    @extend .fg-color-greenDark;
  }
}

.button-delete {
  @extend %button-standard;
  @extend .btn-link;
  color: $red;

  &:hover {
    color: color.adjust($red, $lightness: -10%);
  }
}

.button-back {
  @extend %button-standard;
  @extend .btn-outline-secondary;

  &:before {
    @extend .fas;
    content: fa-content($fa-var-arrow-left);
    padding-right: 5px;
  }
}

.button-outline-blue {
  @extend %button-standard;
  @extend .btn-outline-primary;
}

.button-event-count {
  @extend %button-standard;
  @extend .btn-outline-primary;
  @extend .me-1;
  @extend .mb-1;
}

.button-filters {
  @extend %button-standard;
  @extend .btn-info;
  @extend .me-1;
  @extend .mb-1;
}

.button-notify-me {
  @extend .button-event-count;
  @extend .btn-outline-success;

  &:before {
    @extend .fas;
    content: fa-content($fa-var-info-circle);
    padding-right: 5px;
  }
}

.button-outline-red {
  @extend %button-standard;
  @extend .btn-outline-danger;
}

.button-cancel {
  @extend %button-standard;
  @extend .btn-link;
  @extend .fg-color-gray;

  &:hover {
    @extend .fg-color-red;
  }
}

.buttons-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding-top: 5px;
  border-top: 1px solid gray;
  margin-top: 20px;
}

.button-contact {
  @extend %button-link;
}

.button-checkbox--main {
  @extend .btn-sm;
  @extend .btn-outline-info;
}

.btn-check + .button-checkbox--main:hover {
  color: white;
  background-color: var(--bs-info);
  border-color: var(--bs-info);
}

.button-checkbox--orange {
  @extend .btn-sm;
  @extend .btn-outline-warning;
}

.btn-check + .button-checkbox--orange:hover {
  color: white;
  background-color: var(--bs-warning);
  border-color: var(--bs-warning);
}

.button--bold--red {
  font-weight: bold;
  color: red;

  &:hover {
    @extend .fg-color-red;
  }
}

.no-border {
  border: 0;
}

.btn-xs {
  font-size: 0.75rem;
  border: 0;
  @extend .rounded-1;
}
