%button-standard {
  @extend .btn;
  @extend .btn-sm;
}

%button-link {
  @extend %button-standard;
  @extend .btn-link;
}

.facebook-button {
  @extend %button-standard;
  @extend .btn-light;
  background-color : #4260B4;
  color            : white;

  &:before {
    @extend .fab;
    content       : fa-content($fa-var-facebook);
    padding-right : 5px;
  }
}

.button-submit {
  @extend %button-standard;
  @extend .btn-primary;
}

.button-back {
  @extend %button-standard;
  @extend .btn-outline-secondary;

  &:before {
    @extend .fas;
    content       : fa-content($fa-var-arrow-left);
    padding-right : 5px;
  }
}

.button-outline-blue {
  @extend %button-standard;
  @extend .btn-outline-primary;
}

.button-event-count {
  @extend %button-standard;
  @extend .btn-outline-primary;
  @extend .mr-1;
  @extend .mb-1;
}

.button-filters {
  @extend %button-standard;
  @extend .btn-info;
  @extend .mr-1;
  @extend .mb-1;
}

.button-notify-me {
  @extend .button-event-count;
  @extend .btn-outline-success;
  &:before {
    @extend .fas;
    content       : fa-content($fa-var-info-circle);
    padding-right : 5px;
  }
}

.button-outline-red {
  @extend %button-standard;
  @extend .btn-outline-danger;
}

.button-cancel {
  @extend %button-standard;
  @extend .btn-link;
  @extend .fg-color-gray;

  &:hover {
    @extend .fg-color-red;
  }
}

.buttons-footer {
  vertical-align : middle;
  padding-top    : 5px;
  border-top     : 1px solid gray;
  margin-top     : 20px;
  text-align     : right;
}

.button-contact {
  @extend %button-link;
}

.button-checkbox--main {
  @extend .btn-sm;
  background-color: white;
  border: 1px solid #17a2b8;
  color: #17a2b8;

  &.active {
    background-color: #17a2b8;
    color: white;
  }
}

.button-checkbox--orange {
  @extend .btn-sm;
  background-color: white;
  border: 1px solid #c69500;
  color: #c69500;

  &.active {
    background-color: #d39e00;
    color: white;
  }
}

.button--bold--red {
  font-weight: bold;
  color: red;
  &:hover {
      @extend .fg-color-red;
    }
}

.no-border {
  border: 0;
}
