.es-list {
  border: 1px solid lightgray;
  margin: 5px 0 5px 0;
  padding: 15px;
  background-color: white;
  border-radius: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.es-list__title {
  font-size: 1.375rem;
}

.es-list__headers {
  @extend .row;
  padding: 5px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}

.es-list__row {
  @extend .row;
  @extend .pl-2;
  @extend .pr-2;
  @extend .pt-3;
  @extend .pb-3;

  font-size: 0.875rem;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid lightgrey;

  &:hover {
    background-color: lighten(lightgrey, 10%);
    text-decoration: none;
  }
}
