.flash-alert-box {
  @extend .col-lg-4;
  @extend .col-10;
  z-index       : 100;
  font-size     : 1em;
  font-weight   : bold;
  border        : 1px solid;
  border-radius : 3px;
  position      : absolute;
  top           : 80px;
}
