.organization-card
  @extend .box-white
  @extend .col-12
  @extend .col-md-4

  .name
    font-size: 2em

.organization-tags
  display: inline-flex

  .tag
    @extend .badge
    @extend .badge-light

.organization-header
  @extend .d-flex
  @extend .flex-column
  align-items: center

  p
    font-size: 2em
    font-weight: bold

  img
    margin-right: 5px

