body {
  background-color : $grayLighter;
  min-height       : 100vh;
  position         : relative;
  margin           : 0;
  padding-bottom   : 20px;
}

.footer {
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  height           : 40px; /* Set the fixed height of the footer here */
  line-height      : 40px; /* Vertically center the text there */
  background-color : #37EC6112;
  border-top       : 1px solid lightgray;
  @extend .text-center;
  @extend .small;
}

.cookies-bar {
  @extend .small;
  text-align: center;
  background-color: black;
  color: white;
}

.error-handling {
  @extend .alert;
  @extend .alert-warning;
}

.front-page-title {
  @extend .text-center;
  color: $esperantoGreen;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.breadcrumb {
  margin-top : 1rem;
}

.search-field {
  outline            : none;
  border             : none !important;
  -webkit-box-shadow : none !important;
  -moz-box-shadow    : none !important;
  box-shadow         : none !important;
  border-bottom      : 1px solid gray !important;
  border-radius      : 0;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}

.monospace {
  font-family: monospace;
}

.nav-link {
  color: white !important;

  &:hover {
    color: whitesmoke !important;
  }
}

.link-blue {
  color: #007bff;

  &:hover {
    color: #0056b3 !important;
    text-decoration: none;
  }
}

.link-green {
  color: #00A300;
  text-decoration: none;

  &:hover {
    color: #028102 !important;
    text-decoration: none;
  }
}

.link-black {
  color: black;

  &:hover {
    color: dimgray !important;
    text-decoration: none;
  }
}

.pointer {
  cursor: pointer;
}
