body {
  background-color : $grayLighter;
  min-height       : 100vh;
  position         : relative;
  margin           : 0;
}

.footer {
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  height           : 30px; /* Set the fixed height of the footer here */
  line-height      : 30px; /* Vertically center the text there */
  padding-left     : 15px;
  background-color : #1E7E340F;
  font-size        : small;
}

.turbolinks-progress-bar {
  height           : 10px;
  background-color : white;
}

.error-handling {
  @extend .alert;
  @extend .alert-warning;
}
