    <tr class="footer">
      <td>
        <%= link_to image_tag('https://eventaservo.org/eventa_servo_logo.png', size: 48), 'https://eventaservo.org' %>
      </td>
      <td>
        Eventa Servo estas senpaga servo de UEA kaj TEJO. Ĉu ĝi plaĉas al vi?
        <br>
        Subtenu retajn agantojn per mondonaco al la
        <%= link_to 'Fonduso Instigo', 'https://nevelsteen.info/instigo' %>
        (IBAN: BE25 9731 2584 2982, BIC: ARSPBE22, mencio: 'por Fonduso Instigo').
        <br>
        Bv. informi nin pri via ĝiro per mesaĝo al yves@eventaservo.org.
      </td>
    </tr>
