%p
  Saluton.

  Iu havas demandon aŭ raportas problemon pri la evento "#{link_to @evento.title, event_url(@evento.ligilo)}", kiun vi administras
  en Eventa Servo. Ĉu vi povas kontroli tion kaj korekti, se necese?

%p Jen la mesaĝo:

%p
  <strong>Nomo:</strong> #{@informoj[:name]}
  %br
  <strong>Retpoŝtadreso:</strong> #{@informoj[:email]}
  %br
  <strong>Mesaĝo:</strong> #{@informoj[:message]}

%p Dankon

%hr
