<br>
<table>
  <tbody>
    <tr>
      <td class="content" colspan="2">
        <p>
          Saluton <%= @evento.user.name %>.
        </p>

        <p>
          Vi nun estas la administranto de la evento <%= link_to @evento.title, event_url(code: @evento.ligilo) %>
          en Eventa Servo. Tio signifas ke vi povas ŝanĝi ĝian enhavon aŭ forigi ĝin.
        </p>

        <p>
          Ni invitas vin aldoni informojn pri eventoj, kunvenoj kaj okazaĵoj al Eventa Servo.
          Tion vi povas fari ĉu aldonante novan eventon, ĉu duobligante ekzistantan.
        </p>

        <p>Sukceson kun via agado!</p>
        <p class="button-blue text-center">
          <%= link_to 'VIDI LA EVENTAN PAĜON', event_url(code: @evento.ligilo) %>
        </p>
      </td>
    </tr>

    <%= render 'email_footer' %>
  </tbody>
</table>
