/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 *= require fullcalendar
 *= require smartphoto
 *= require summernote-lite
 *= require direct_uploads
 *= require social-share-button
 */

// Bazaj CSS
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

@import "partials/colors";

@import "partials/boxwhite";
@import "partials/buttons";
@import "partials/events";
@import "partials/flash";
@import "partials/page";
@import "partials/toolbar";
@import "partials/profile";
@import "partials/toolbar";
@import "partials/typography";


// Social Share Buttons icon size
$size : 28px;
.social-share-button {
  .ssb-icon {
    background-size : $size $size;
    height          : $size;
    width           : $size;
  }
}
