/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 *= require fullcalendar
 *= require smartphoto
 *= require direct_uploads
 *= require flag-icon
 *= require leaflet
 *= require MarkerCluster.css
 *= require MarkerCluster.Default
 *= require actiontext
 *= require_self
 */

// Bazaj CSS
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "colors";
@import "social-share-button";

@import "partials/*";

// Social Share Buttons icon size
$size : 32px;
.social-share-button {
  .ssb-icon {
    background-size : $size $size;
    height          : $size;
    width           : $size;
  }
}

// Reta eventa flago
.flag-icon-ol { // ol estas la 'lando-kodo' por 'online'
  background-image: image-url("online_flag.svg");
  &.flag-icon-squared {
    background-image: image-url("online_flag.svg");
  }
}
