body {
  margin: 10px;
  font-family : Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.text-center {
  text-align : center;
}

.small {
  font-size : small;
}


table {
  width           : 100%;
  border-collapse : collapse;

  tbody {
    tr {
      td {
        padding : 5px;
      }
    }
  }
}

.table-footer {
  @extend .small;
  @extend .text-center;
}

