.card.mb-3
  .card-body
    %h5.card-title.d-flex.align-items-center
      = organization_logo(organizo, size: :medium)
      = link_to organizo.name, organization_url(organizo.short_name)
    .card-text.text-muted
      .d-flex.justify-content-around
        %span= icon('far', 'calendar', organizo.eventoj.venontaj.count)
        %span= icon('fas', 'users', organizo.uzantoj.count)
