.card.mb-3
  .card-header.text-truncate.text-center
    = organizo.name
  .card-body.pb-1
    .d-flex.justify-content-center.align-items-center{style: 'height: 128px'}
      = organization_logo(organizo, size: :large)

    .text-muted.small
      .d-flex.justify-content-around
        %span= icon('far', 'calendar', organizo.eventoj.count)
        %span= icon('fas', 'users', organizo.uzantoj.count)
