.box-white
  = page_title @user.name

  .lead Eventoj
  - @user.events.each do |event|
    = link_to event_path(event.code), class: 'item-row' do
      .col-6= event.title
      .col-6= format_date event.date_start
