.box-white.small
  .lead
    Reklamoj
    = link_to icon('fas', 'plus-circle'), new_admin_reklamoj_url, class: 'small fg-color-green'
  .row
    - @ads.each do |r|
      .col-12.col-md-6.col-lg-4
        .card.m-2.align-items-center
          - if r.image.attached?
            = image_tag r.image.variant(resize_to_fill: [400, 200]), class: 'card-img-top reklam-bildo mt-2'

          .card-body
            %p.card-text= link_to r.url, r.url, target: :_blank

            = link_to 'Forviŝi', admin_reklamoj_url(r), method: :delete, data: { confirm: 'Ĉu vi certas?' } , class: 'fg-color-red'
