.box-white
  .text-center
    %h4
      Mia persona eventa paĝo
    .small
      Ĉi tiu paĝo estas persona. Aliaj uzantoj de Eventa Servo ne povas vidi ĝin.

  %br

  = render partial: "users/interested_events_list", locals: { interested_events: @interested_events }
  = render partial: "users/my_events", locals: { future_events: @future_events, past_events: @past_events, pagy: @pagy }
