-# Laŭ plataformoj
- sistemoj = []
- Analytic.select(:platform, 'count(id)').group(:platform).order('count DESC').each do |r|
  - sistemoj << { name: r.platform, y: r.count }

#sistemoj

:coffee
  Highcharts.chart 'sistemoj',
    credits: enabled: false
    chart: type: 'pie'
    title: text: 'Laŭ sistemo'
    plotOptions: series: dataLabels:
      enabled: true
      format: '{point.name}: {point.y}'
    tooltip:
      headerFormat: '<span style="font-size:11px">{series.name}</span><br>'
      pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
    series: [
      name: 'Plataformoj'
      colorByPoint: true
      data: #{raw sistemoj.to_json}
    ]
