:ruby
  # Laŭ vidmanieroj
  vidmanieroj = []
  Analytic.vidmanieroj.each do |vm|
    data = []
    5.downto(0) do |m|
      data << Analytic.main_paths.where(created_at: (Date.today - m.month).beginning_of_month..(Date.today - m.month).end_of_month, vidmaniero: vm.vidmaniero).count
    end
    vidmanieroj << { name: vm.vidmaniero, data: data }
  end

#vidmanieroj

:coffee
  Highcharts.chart 'vidmanieroj',
    credits: enabled: false
    chart: type: 'area'
    title: text: 'Laŭ vidmaniero'
    xAxis:
      categories: #{raw last_6_months_label}
      title: enabled: false
    yAxis: title: text: 'Percent'
    tooltip:
      pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} vidoj)<br/>'
      shared: true
    plotOptions: area:
      stacking: 'percent'
      lineColor: '#ffffff'
      lineWidth: 1
      marker: enabled: false
    series: #{raw vidmanieroj.to_json}
