.box-white
  %h1 Vizitantoj
  .row
    .col-lg-6.col-12= render partial: 'retumiloj'
    .col-lg-6.col-12= render partial: 'sistemo'

  .row
    .col-lg-6.col-12= render partial: 'vidmanieroj'
    .col-lg-6.col-12= render partial: 'tagoj'
