.box-white
  %h1 Vizitantoj
  .row
    .col-6= render partial: 'retumiloj'
    .col-6= render partial: 'plataformoj'

  .row
    .col-6= render partial: 'vidmanieroj'
    .col-6= render partial: 'lau_tagoj'
