<div id="analizado">
  <div class="box-white">
    <h1>Vizitantoj</h1>
    <div class="row">
      <div class="col-lg-6 col-12"></div>
      <div class="col-lg-6 col-12"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-12"></div>
      <div class="col-lg-6 col-12"></div>
    </div>
  </div>
</div>
