<div id="analizado">
  <div class="box-white">
    <h1>Vizitantoj</h1>
    <div class="row">
      <div class="col-lg-6 col-12"><lau-retumilo></lau-retumilo></div>
      <div class="col-lg-6 col-12"><lau-sistemo></lau-sistemo></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-12"><lau-vidmaniero></lau-vidmaniero></div>
      <div class="col-lg-6 col-12"><lau-tago></lau-tago></div>
    </div>
  </div>
</div>
