name: Deploy

on:
  workflow_run:
    workflows: ["Rails Minitest"]
    branches: [main, staging]
    types:
      - completed

jobs:
  Deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-single-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-single-buildx

      - name: Build and push (Production)
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: eventaservo/backend:latest
          build-args: |
            AMBIENTE=production
            GOOGLE_MAPS_KEY=${{ secrets.GOOGLE_MAPS_KEY }}
            IPINFO_KEY=${{ secrets.IPINFO_KEY }}

      - name: Build and push (Staging)
        if: ${{ github.ref == 'refs/heads/staging' }}
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: eventaservo/backend:staging
          build-args: |
            AMBIENTE=staging
            GOOGLE_MAPS_KEY=${{ secrets.GOOGLE_MAPS_KEY }}
            IPINFO_KEY=${{ secrets.IPINFO_KEY }}

  Telegram:
    name: Telegram
    needs: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: send telegram message on push
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Docker Container ${{ github.repository }} created and uploaded.

            Commit message: ${{ github.event.commits[0].message }}
