name: Docker image

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      dockerhub_username:
        required: true
      dockerhub_token:
        required: true
      RAILS_MASTER_KEY:
        required: true

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.dockerhub_username }}
          password: ${{ secrets.dockerhub_token }}

      - name: Build and push (${{ inputs.environment }})
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: eventaservo/backend:${{ inputs.tag }}
          build-args: |
            AMBIENTE=${{ inputs.environment }}
            RAILS_MASTER_KEY=${{ secrets.RAILS_MASTER_KEY }}
            GOOGLE_MAPS_KEY=${{ secrets.GOOGLE_MAPS_KEY }}
            IPINFO_KEY=${{ secrets.IPINFO_KEY }}
