<li class="nav-item">
  <%= link_to(admin_root_url, class: "nav-link") do %>
    <div class="d-inline d-lg-none"><%= icon("fas", "cog", "Admin") %></div>
    <div class="d-none d-lg-inline"><%= icon("fas", "cog") %></div>
  <% end %>
</li>
