:ruby
  if params[:code].present? && params[:controller] == 'events'
    event = Event.joins(:country).find_by_code(params[:code])
    country = event.country.name
    city = event.city
  else
    country = @country.name
    city = params[:city_name]
  end

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Mondo', root_path
    %li.breadcrumb-item= link_to country, events_by_country_path(country)
    - unless city.nil?
      %li.breadcrumb-item= link_to city, events_by_city_url(country, city)
