%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Mondo', root_path
    - if params[:city_name].present?
      %li.breadcrumb-item
        = link_to @country.name, events_by_country_path(@country.name)
      %li.breadcrumb-item.active{"aria-current" => "page"}= params[:city_name]
    - else
      %li.breadcrumb-item.active{"aria-current" => "page"}= @country.name
