%meta{content: 'website', property: 'og:type'}
%meta{content: 'Eventa Servo', property: 'og:site_name'}
%meta{content: image_url('eventa_servo_logo.png'), property: 'og:image'}
%meta{content: image_url('eventa_servo_logo.png'), property: 'og:image:secure_url'}
%meta{content: 'image/png', property: 'og:image:type'}
%meta{content: 'Eventa Servo logo', property: 'og:image:alt'}
%meta{content: '243701312975059', property: 'fb:app_id'}

:javascript
  window.fbAsyncInit = function () {
    FB.init({
      appId: '243701312975059',
      xfbml: true,
      version: 'v3.2'
    });
    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
