<% flash.each do |key, value| %>
  <% next unless value.is_a? String %>

  <div data-controller="flash-message"
    role="alert"
    class="flash-alert-box alert alert-dismissible <%= flash_class(key.to_sym) %>">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% end %>
