<div data-controller="search">
    <input
      type="search"
      class="form-control form-control-sm"
      placeholder="Serĉi..."
      data-search-target="searchTerm"
      data-action="keyup->search#goToSearchPage"
    />
</div>
