<form class="form-inline" data-controller="search">
  <input
    class="form-control mr-2"
    type="search"
    placeholder="Serĉi"
    aria-label="Search"
    data-search-target="searchTerm"
    data-action="keyup->search#goToSearchPage"
    >
  </form>
