<form class="d-flex flex-shrink-1" style="min-width: 0" data-controller="search">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Serĉi"
    aria-label="Search"
    data-search-target="searchTerm"
    data-action="keyup->search#goToSearchPage"
    >
  </form>
