!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'mailer'
  %body
    = yield

    %br
    .email-footer
      Mesaĝo aŭtomate sendita de #{link_to 'Eventa Servo', 'https://eventaservo.org'}.
      %br
      Kontaktu nin per #{mail_to 'kontakto@eventaservo.org'}.