!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'mailer'
  %body
    = yield

    %hr
    .small
      Mesaĝo aŭtomate sendita de Eventa Servo (#{link_to 'https://eventaservo.org', 'https://eventaservo.org'}).
      Kontaktu nin per #{mail_to 'kontakto@eventaservo.org'}.